<ul class="nav">        
    <li class="nav-item ">
        <a class="nav-link" href="{{ path('app_user_index') }}">Список</a>
    </li>            
    <li class="nav-item ">
        <a class="nav-link" href="{{ path('app_user_new') }}"> + Добавить пользователя</a>
    </li>    
</ul>